{{- $context := .Context -}}
{{- $taxonomy := index $context.Site.Taxonomies "tags" -}}
{{- $taxonomyPage := "" -}}
{{- if $taxonomy -}}
    {{- with $taxonomy.Page -}}
        {{- $taxonomyPage = .RelPermalink -}}
    {{- end -}}
{{- else -}}
    {{- warnf "Taxonomy %s not found" "tags" -}}
{{- end -}}
{{- $widgetTitle := default (T "widget.tagCloud.title") .Params.title -}}
{{- $limit := default (len $taxonomy) .Params.limit -}}
{{- $icon := default "tag" .Params.icon -}}
{{- $showLink := default false .Params.showLink -}}

<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" $icon }}
    </div>
    <h2 class="widget-title section-title">
        {{ if and $showLink $taxonomyPage }}
            <a href="{{ $taxonomyPage }}">
                {{ $widgetTitle }}
            </a>
        {{ else }}
            {{ $widgetTitle }}
        {{ end }}
    </h2>

    <div class="tagCloud-tags">
        {{ if $taxonomy }}
        {{ range first $limit $taxonomy.Alphabetical }}
            <a href="{{ .Page.RelPermalink }}">
                {{ .Page.Title }}
            </a>
        {{ end }}
        {{ end }}
    </div>
</section>
